
html {
    border: 1px solid rgba(255,255,255,.125);
    background-color: rgba(225,225,225,.15);
    margin: auto;
}
body { 
    margin: auto;
    width: 100%;
}
.pageHeader {
    /*border: 1px solid rgba(255,0,0,.5);*/
    background-color: rgba(255,0,0,.25);
    height: 35vh;
    text-align: center;
}
.searchBar {
    /*border: 1px solid rgba(255,0,0,.5);*/
    background-color: rgba(100,200,0,1);
    height: 8.75vh;
    margin: 1.25vh auto;  
    padding: 0 .5vw;
}
.input {
    border: 1px solid rgba(255,255,255,.05);
    border-radius: .75vh;
    background-color: rgba(255,255,255,1);   
    padding: 1.25vh; 
    margin: 1.25vh .25vw; 
    height: 6.25vh;
    width: 30%;
}
.searchButton {
    margin: auto;
}
.spacing {
    /*border: 1px solid rgba(255,0,0,.75);*/
    min-width: 15vw;
}
.template {
    /*border: 1px solid mediumvioletred;*/
    /*background-color: rgba(0,0,0,.25);*/
    display: inline-flex;  
    padding: 2.5vh;
    margin: auto;
    min-width: 45vw;
    max-width: 35vw;
}
.templateInfo { 
    /*background-color: yellow;*/
    background-color: white;
    min-width: 25vw;
    max-width: 25vw;
}
.cuisine1 {
    /*border: 1px solid rgba(255,0,255,.25);*/
    display: inline-flex;
    overflow-x: auto;
    width: 75%;
    margin: 1.25vh 12.5vh;  
}
.cuisine5 {
    border: 1px solid rgba(255,0,255,.5);
    background-color: rgba(255,0,255,.25);
    height: 15vh;
    min-width: 25vh;
    padding: 2.5vh;
    margin: 2.5vh;     
}
.azButton {
    /*border: 1px solid rgba(0,0,0,1);*/
    background-color: rgba(255,255,255,1);
    padding: 1vh;
    display: inline-flex; 
}

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {
    display: inline;
}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

#map {  
    border: 1px solid black;
    height: 45vh;
    width: 45vh;
    margin: auto;
    float: right;
}

.columnize {
    /*border: 1px solid green;*/
    background-color: white;
    display: inline-flex;  
    padding: auto 2.5vh;
    margin: auto;
    width: 100%;
}

.img {
    background: blue;
    height: 25vh;
    width: 25vh;
}

h1 {text-align: center;}
h2 {text-align: center;}
h3 {text-align: center;}

