
html {
    border: 1px solid rgba(255,255,255,.25);
    background-color: rgba(0,0,0,.125);
    margin: auto;
}

body {
    border: 1px solid rgba(255,255,255,.5);
    margin: auto;
}

.main1 {
    border: 1px solid rgba(255,0,0,.25);
    margin: 1.25vh;
    width: 100%;
}
.main5 {
    border: 1px solid rgba(255,0,0,.5);
    margin: 1.25vh;   
    width: 100%;
}
.main25 {
    border: 1px solid rgba(255,0,0,.75);
    margin: 1.25vh;     
    width: 100%;
}
.main125 {
    border: 1px solid rgba(255,0,0,1);
    padding: 2.5vh;
    margin: 2.5vh;     
    width: 100%;
}

.cuisine1 {
    border: 1px solid rgba(255,0,255,.25);
    display: inline-flex;
    overflow-x: auto;
    max-width: 75vw;
    margin: 1.25vh 12.5vh;  
}
.cuisine5 {
    border: 1px solid rgba(255,0,255,.5);
    background-color: rgba(255,0,255,.25);
    height: 15vh;
    min-width: 25vh;
    padding: 2.5vh;
    margin: 2.5vh;     
}

.search {
    border: 1px solid rgba(0,255,0,.5);
    background-color: rgba(0,255,0,.25);   
    margin: 1.25vh; 
    height: 3.75vh;
    width: 5vh;
}

.input {
    border: 1px solid rgba(0,0,255,.5);
    background-color: rgba(0,0,255,.25);   
    padding: 1.25vh; 
    margin: 1.25vh; 
    max-height: 5vh;
    width: 25vw;
}

.azButton {
    display: inline-flex; 
}

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {
    display: inline;
}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

#map {
    
    border: 1px solid black;
    height: 45vh;
    width: 45vh;
    margin: auto;
    float: right;
}

.columnize {
    border: 1px solid black;
    display: inline-flex;  
    margin: auto;
    width: 100%;
}

