<!DOCTYPE html>
<html lang="en" ng-app="zipHubProject">

<head>
    <!--Styles-->
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <title>ZipHub Project</title>
</head>

<body>

<!--Contnt Deliv Netwrk-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.js"></script>
    
    <form action="">
        <input type="text" ng-model="name" placeholder="name">
        <input type="text" ng-model="location" placeholder="location">
        <button ng-submit=""></button>
    </form>

<!--Scripts-->
    <script src="js/app.js"></script>
    <script src="js/mainCtrl.js"></script>
    <script src="js/mainSvc.js"></script>

</body>

</html>