<!DOCTYPE html>
<html lang="en" ng-app="zhp">

<head>

    <meta charset="UTF-8">
    <title>ZHP</title>

    <!--STYLE(S)-->
    <link rel="stylesheet" href="css/style.css">

</head>

<body>

    <div class="main1" ng-controller="mainCtrl">

        <!--TITLE (MVP)-->
        <div class="main5">
            <h2>Discover Food and Restaurants</h2>
            <h3>You Save - You Earn - We Give</h3>
        </div>

        <!--SEARCH (MVP)-->
        <div class="main5">
            <div>
                <form method="post">
                    <button class="search">OP</button>
                    <input class="input" id="searchBar" type="search" ng-model="listing.name" placeholder="Restaurant Name" maxlength="15">
                    <input class="input" id="searchBar" type="search" ng-model="listing.address" placeholder="Zip Code" maxlength="15">
                    <input class="input" id="searchBar" type="search" ng-model="listing" placeholder="Cuisine Type" maxlength="15">
                    <button class="search" ng-click="getYpCtrl()">GO</button>
                </form>
            </div>
        </div>

        <!--POPULAR CUISINES-->
        <div class="main5">
            <h2>Popular Food Choices</h2>
            <div class="cuisine1">
                <div class="cuisine5">Chinese</div>
                <div class="cuisine5">Italian</div>
                <div class="cuisine5">Sea Food</div>
                <div class="cuisine5">American</div>
                <div class="cuisine5">Mexican</div>
                <div class="cuisine5">Indian</div>
            </div>
        </div>

        <div class="main5">
            <h3>Searching all Food and Restaurants in Toronto{{listing.address.city}}, CA{{listing.address.prov}}</h3>
        </div>

        <!--AZ FILTER-->
        <div class="main5">
            <button class="search">OP</button>
            <div class="azButton" ng-repeat="letter in letterArray">
                <button ng-click="filters.letter = letter.letter">{{letter.letter}}</button>
            </div>
            <button class="search">GO</button>
        </div>

        <!--PAGINATED DATA-->
        <dir-pagination-controls></dir-pagination-controls>
        <br>
        <div class="columnize">
            <div class="main5">
                <div class="main125" dir-paginate="listing in data.listings | filter:{ 'name':filters.letter } | orderBy: sort | itemsPerPage: 12">
                    <div>{{listing.name}}</div>
                    <div>{{listing.address.street}}, {{listing.address.city}} {{listing.address.prov}} {{listing.address.pcode}}</div>
                </div>
            </div>

            <!--GOOGLE MAPS DIRECTIVE-->
            <div class="main5">
                <div id="map"></div>
                <!--<script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>-->
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDRX-5_flPPGgoj1N8xePuy9nGbYhbz7hI&callback=initMap" async
                    defer></script>
            </div>
        </div>
        <br>
        <dir-pagination-controls></dir-pagination-controls>

        <!--CUISINE FUNCTIONS (MVP) UIDS-->

    </div>

    <!--CONTENT DELIVERY NETWORK(S)-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>

    <!--SCRIPT(S)-->
    <script src="js/app.js"></script>
    <script src="js/mainCtrl.js"></script>
    <script src="js/mainSvc.js"></script>
    <script src="js/paginationDir.js"></script>
    <script src="js/map.js"></script>

</body>

</html>