@font-face { font-family: HelveticaNeueMed; src: url(media/HelveticaNeueMed.ttf); }
@font-face { font-family: HelveticaNeueLt; src: url(media/HelveticaNeueLt.ttf); }
@font-face { font-family: HelveticaNeue; src: url(media/HelveticaNeue.ttf); }
html { margin: 0;padding: 0; background-color: #ECEEF0; }
body { margin: 0;padding: 0; }

/* HEADER AND HEADER TEXT*/
.header {
    color: white;
    background-color: midnightblue;
    margin: 0; padding: 1.25vh 0 0 0;
    height: 5vh;
    min-width:100%;
    display: inline-flex;
}

.title {
    font-size: 3.5vh;
    font-family: 'HelveticaNeueMed';
    margin: 0 1.25vw; padding: 0;
    width: 25%;
}

.text {
    font-size: 3vh;
    font-family: 'HelveticaNeue';
    text-align: right;
    margin: 0 1.25vw; padding: 0;
    width: 75%;
    }
/* HEADER AND HEADER TEXT*/



/* GOOGLE MAP CANVAS*/
#map { height: 45vh; width: 100%; }
/* GOOGLE MAP CANVAS*/



/*NAVIGATION INPUTS AND SEARCH ICON*/
.nav {
    background-color: midnightblue;
    height: 6.25vh;
    width: 100%;
    margin: 0; padding: 0;
}

.input {
    border: 1px solid grey;
    border-radius: .5vh;
    color: midnightblue;
    font-size: 4vh;
    font-family: 'HelveticaNeueLt';
    width: 42.5%;
    display: inline-flex; 
    margin: 0 .25vw; padding: 0;
}

i.fa {
    color: white;
    border: 1px solid white;
    border-radius: .5vh;
    text-align: center;
    font-size: 5.25vh;
    width: 12.5vw;
    margin: .25vh 0 0 0; padding: 0;
}
.fa-search:hover {     
    color: yellow;
    border: 1px solid yellow;
    border-radius: .5vh;
}

/*NAVIGATION INPUTS AND SEARCH ICON*/



/*API RESULTS*/
.results {
    background-color: lightgray;
    margin: 0;padding: 0;
    height: 45vh;
    overflow-y: auto;
}

.template {
    background-color: #FFFFFF;
    margin: 0;padding: 0;
    height: 22.5vh;
}

.templateInfo {
    border: 1px solid slategray;
    background-color: #FFFFFF;
    margin: 0;padding: 0;

}

.businessName {  
    border: 1px solid yellowgreen;
    font-size: 3vh;
    color: #1A2A5E;
    font-family: 'HelveticaNeueMed';
    margin: 0;padding: 0; 
}

a.odysseos_arrow { text-decoration: none; margin: 0;padding: 0; height: 3vh; } 

.span { 
    border: 1px solid blue;
    display: inline-flex;
    margin:0;padding:0;
}

.ratingCount {
    border:1px dashed red;
    font-family: 'HelveticaNeueLt';
}

span.stars, span.stars span {
    border:1px dashed darkcyan;
    display: block;
    background: url('media/stars.png') 0 -16px repeat-x;
    min-width: 80px;
    height: 15px;
}

span.stars span {
    background-position: 0 0;
}

h6.businessPhone {
    color: #3C3C3C;
    font-family: 'HelveticaNeueLt';
    margin:0;padding:0;
}

h6.businessAddress {
    color: #3C3C3C;
    font-family: 'HelveticaNeueLt';
    margin:0;padding:0;
}

ul.pagination {
    /*border: 1px dashed black;*/
    background-color: #ECEDEC;
    padding: 2.5vh 1.25vw 0 1.25vw;
    margin: 7.5vh auto 12.5vh auto;
    text-align: center;
    height: 5.25vh;
    width: 95%;
}

ul.pagination li { display: inline; }

ul.pagination li a { 
    /*border: 1px solid darkred;*/
    border-radius: .125vh;
    background-color: #FFFFFF;
    text-decoration: none; 
    text-align: center;
    font-family: 'HelveticaNeueMed';
    font-size: 10pt;
    color: #3C3C3C;
    padding: .25vh .75vw; 
    margin: 0 .5vw;
    height: 1vh;
    width: 2.5vh;
}

.infoWindow {
    font-family: HelveticaNeueLt; src: url(media/HelveticaNeueLt.ttf);
    border: 1px solid black;
    background-color: white;
    width: 100px;
    height: 100px;
}
/*API RESULTS*/