@font-face { font-family: HelveticaNeueMed; src: url(media/HelveticaNeueMed.ttf); }
@font-face { font-family: HelveticaNeueLt; src: url(media/HelveticaNeueLt.ttf); }
@font-face { font-family: HelveticaNeue; src: url(media/HelveticaNeue.ttf); }
html { margin: 0;padding: 0; background-color: #ECEEF0; }
body { margin: 0;padding: 0; }

.header {
    background-color: midnightblue;
    margin: 0; padding: 1.25vh 0 0 0;
    height: 5vh;
    min-width:100%;
    display: inline-flex;
}

.title {
    /*border: 1px solid gold;*/
    color: white;
    font-size: 3.5vh;
    font-family: 'HelveticaNeueMed';
    margin: 0 1.25vw; padding: 0;
    width: 25%;
}

.text {
    /*border: 1px solid gold;*/
    color: white;
    font-size: 3.5vh;
    font-family: 'HelveticaNeue';
    text-align: right;
    margin: 0 1.25vw; padding: 0;
    width: 75%;
    }

#map {  
    background-color: gold;
    height: 45vh;
    width: 100%;
}

.nav {
    color: white;
    background-color: midnightblue;
    margin: 0; padding: 0 0 0 25vw;
    height: 6.25vh;

}

.input {
    border: 1px solid midnightblue;
    border-radius: .5vh;
    color: midnightblue;
    font-size: 3vh;
    font-family: 'HelveticaNeueLt';
    width: 30%;
    margin: 1.25vh .125vh; padding: 0;
}

.results {
    background-color: darkgoldenrod;
    margin: 0;padding: 0;
    height: 45vh;
    overflow-y: auto;
}

.template {
    background-color: ;
    background: #FFFFFF;
    margin: 0;padding: 0;
}

.templateInfo { 
    border: 1px solid slategray;
    background-color: #FFFFFF;
    margin: 0;padding: 0;

}

.businessName {  
    border: 1px solid yellowgreen;
    color: #1A2A5E;
    font-family: 'HelveticaNeueMed';  
    margin: 0;padding: 0; 
}

a.odysseos_arrow { text-decoration: none; margin: 0;padding: 0; } 

.span { 
    border: 1px solid blue;
    display: inline-flex;
    margin:0;padding:0;
}

.ratingCount {
    border:1px dashed red;
    font-family: 'HelveticaNeueLt';
}

span.stars, span.stars span {
    border:1px dashed darkcyan;
    display: block;
    background: url('media/stars.png') 0 -16px repeat-x;
    min-width: 80px;
    height: 16px;
}

span.stars span {
    background-position: 0 0;
}

h6.businessPhone {
    color: #3C3C3C;
    font-family: 'HelveticaNeueLt';
    margin:0;padding:0;
}

h6.businessAddress {
    color: #3C3C3C;
    font-family: 'HelveticaNeueLt';
    margin:0;padding:0;
}

ul.pagination {
    /*border: 1px dashed black;*/
    background-color: #ECEDEC;
    padding: 2.5vh 1.25vw 0 1.25vw;
    margin: 7.5vh auto 12.5vh auto;
    text-align: center;
    height: 5.25vh;
    width: 95%;
}

ul.pagination li { display: inline; }

ul.pagination li a { 
    /*border: 1px solid darkred;*/
    border-radius: .125vh;
    background-color: #FFFFFF;
    text-decoration: none; 
    text-align: center;
    font-family: 'HelveticaNeueMed';
    font-size: 10pt;
    color: #3C3C3C;
    padding: .25vh .75vw; 
    margin: 0 .5vw;
    height: 1vh;
    width: 2.5vh;
}

.infoWindow {
    font-family: HelveticaNeueLt; src: url(media/HelveticaNeueLt.ttf);
    border: 1px solid black;
    background-color: white;
    width: 100px;
    height: 100px;
}