<div class="ux-a-z-item-container selected" id="A-container">
    <h3 class="ux-hide-js"><a id="A">A</a></h3>
    <ul>
        <li><a href="##url##">abc</a></li>
        <li><a href="##url##">abd</a></li>
        <li><a href="##url##">apple</a></li>
        <li><a href="##url##">applicable</a></li>
    </ul>
</div>
<div class="ux-a-z-item-container" id="B-container">
    <h3 class="ux-hide-js"><a id="B">B</a></h3> ...
</div>
... ### omiting redundant repeats for example's sake ### ...
<div class="ux-a-z-item-container" id="Z-container">
    <h3 class="ux-hide-js"><a id="Z">Z</a></h3> ...
</div>
<div class="ux-a-z-item-container" id="numbers-container">
    <h3 class="ux-hide-js"><a id="numbers">#</a></h3>
    <p class="ux-weak center">There are no keywords for this option.</p>
</div>